.hero {
  width: 100%;
  background-color: #D9D9D9;
  border-radius: 16px; /* rounded corners */
  margin-top: 10px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 450px;
  gap: 50px;
  direction: ltr;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  object-fit: contain;
  max-height: 500px;
}

.hero-image img {
  height: auto;
  max-height: 500px;
  width: 100%;
  object-fit: contain;
  display: block;
}

.hero-text {
  flex: 1;
  text-align: right;
  font-family: "Cairo", sans-serif;
}

.hero-text h2 {
  font-size: 32px;
  color: #2d4f76;
  line-height: 1.6;
}

.hero-text h2 span {
  color: #a42222;
}

.hero-text p {
  font-size: 16px;
  color: #555;
  margin: 15px 0 25px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  justify-content: right;
  border: 5px #000000B2;
}

.hero-buttons .btn {
  width: 200px;  /* adjust size */
  height: 30px;
  display: inline-flex;
  align-items: center;
  gap: 8px; /* space between icon and text */
  flex-direction: row-reverse;
  background-color: #F6E984;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 26px;
  font-weight: normal;
  color: #012B7D;
  text-decoration: none;
  transition: background 0.3s ease;
  border: 1px solid #000000B2;
}

.hero-buttons .btn:hover {
  background-color: #ffd966;
}


.hero-buttons .btn-icon {
  width: 40px;  /* adjust size */
  height: 40px;
  object-fit: contain;
  justify-content: right;
}

@media (max-width: 768px) {
  .hero-content {
    flex-direction: column;
    height: auto;
  }

  .hero-image img {
    height: auto;
    width: 100%;
    object-fit: contain;
    max-height: 300px;
  }

  .hero-text {
    text-align: center;
  }

  .hero-buttons {
    justify-content: center;
    flex-wrap: wrap;
  }
}
